

    <div class="container">

      <h1>Paragraph Analysis</h1>
      <br>
      <br>
      <div class="form-group">
        <label for="paragraph">Paste your paragraph below:</label>
        <textarea class="form-control" rows="10" id="paragraph" ng-model='text'></textarea>
        <br>
        <button type="submit" class="btn btn-primary" id="paragraph-submit" ng-click='getText()'>Submit</button>
      </div>

      <div id="result-paragraph">
      <h4>Your paragraph:</h4>
      </div>


    </div>
