<div class="container">
  <div class="row">
    <div class="center-form panel">
      <form method="post" ng-submit="login()" name="loginForm" novalidate>
        <div class="panel-body">
          <h2 class="text-center">Home</h2>
        </div>
      </form>

      <div class="row">
        <div class="col-md-4 text-center">
          <a class="btn btn-primary" href="#/teacher-login" role="button">Login</a>
          <a class="btn btn-success" href="#/teacher-signup" role="button">Sign Up</a>
          <!-- <button type="submit" class="btn btn-primary">Login</button> -->
          <!-- <button type="submit" class="btn btn-success">Sign Up</button> -->
        </div>
      </div>

    </div>
  </div>
</div>
