<div class="partial">

<!--       <form method="post" ng-submit="login()" name="loginForm" novalidate>
        <div class="panel-body">
          <h2 class="text-center">Home</h2>
        </div>
      </form>

      <div class="row">
        <div class="col-md-12 text-center">
          <a class="btn btn-primary" href="#/login" role="button">Login</a>
          <a class="btn btn-success" href="#/teacher-signup" role="button">Teacher Sign Up</a>
          <a class="btn btn-success" href="#/student-signup" role="button">Student Sign Up</a>

        </div>
      </div> -->

</div>
