<!-- <div class="student-signup"> -->
  <h1>Student Signup</h1>
  <form method="post" ng-submit="studentSignup()" name="studentSignupForm">

    <div class="form-group">
      <input class="form-control input-lg" type="text" id="name" name="name" ng-model="studentSignup.username" placeholder="First and Last Name" required autofocus>
    </div>

    <div class="form-group">
      <input class="form-control input-lg" type="password" name="password" ng-model="studentSignup.password" placeholder="Password" required>
    </div>

    <div class="form-group">
      <input class="form-control input-lg" type="text" name="code" ng-model="studentSignup.code" placeholder="What's your code?" required>
    </div>

    <button type="submit" class="btn btn-lg btn-block btn-primary">Sign Up!</button>
  </form>
<!-- </div> -->

