<header class="header black-bg">
  <div class="sidebar-toggle-box">
<!--     <div id="clicker" class="fa fa-bars tooltips"></div> -->
    <div id="clicker" class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation" ng-click="toggleNavButton()"></div>
  </div>
  <!--logo start-->
  <a href="/#/" class="logo"><b>Write Smart!</b></a>
  <!--logo end-->

  <div class="top-menu">
    <ul class="nav pull-right top-menu">
      <li><a class="logout" role="button" ng-click="logout()">Logout</a></li>
    </ul>
  </div>
</header>

<!-- ng-click="toggleNavButton()" -->
