<header class="header black-bg">
  <div class="sidebar-toggle-box">
    <div id="clicker" class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation" ng-click="toggleNavButton()"></div>
  </div>

  <a href="/#/" class="logo"><b>WriTone</b></a>

  <div class="top-menu">
    <ul class="nav pull-right top-menu">
      <li ng-if="!isAuthenticated()"><a class="login" href="#/login" role="button">Login</a></li>
      <li ng-if="!isAuthenticated()"><a class="register" href="#/teacher-signup" role="button">Teacher Sign Up</a></li>
      <li ng-if="!isAuthenticated()"><a class="register" href="#/student-signup" role="button">Student Sign Up</a></li>
      <li ng-if="isAuthenticated()"><a class="logout" role="button" ng-click="logout()">Logout</a></li>
    </ul>
  </div>
</header>

