/*body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}*/

.angular-content{
  padding-top: 60px;

}

.partial {
  color: #797979;
  background: #f2f2f2;
  /*background-color: orange;*/
}
