<!-- Teacher user view -->
<div ng-if="isAuthenticated() && currentUser.teacher === true">

  <div class="row mt">

    <div class="col col-md-4">
      <div class="grey-panel pn">
        <div class="green-header">
          <h4>Student Info</h4>
        </div>
        <p class="ss-stats-e centered topdown"><strong><i class="fa fa-graduation-cap"></i> {{currentUser.students.length}} students</strong></p>
        <p class="ss-stats-a centered"><strong><i class="fa fa-chevron-circle-right"></i> {{stWritings}} samples</strong></p>
        <p class="ss-stats-d centered"><strong><i class="fa fa-trophy"></i> {{studentWords}} words</strong></p>
      </div>
    </div>

    <div class="col col-md-4">
      <div class="grey-panel pn">
        <div class="green-header">
        <h4>Your Info</h4>
        </div>
        <p class="ss-stats-a centered topdown"><strong><i class="fa fa-chevron-circle-right"></i> {{currentUser.writings.length}} samples</strong></p>
        <p class="ss-stats-d centered"><strong><i class="fa fa-trophy"></i> {{total}} words</strong></p>
        <p class="ss-stats-f centered"><strong><i class="fa fa-check"></i> 3 classes</strong></p>

      </div>
    </div>

    <div class="col col-md-4">
      <div class="grey-panel pn">
        <div class="green-header">
          <h4>Writing Samples Per Student</h4>
        </div>
        <teacher-pie-dash></teacher-pie-dash>
      </div>
    </div>

  </div>

  <div class="row mt">
    <div class="col col-md-12">
      <div class="content-panel">
        <h3><i class="fa fa-angle-right"></i><strong>Student Word Counts</strong></h3>
          <hr>
        <teacher-multibar-dash></teacher-multibar-dash>
      </div>
    </div>
  </div>

</div> <!-- end outer div with ifAuth -->





<!-- Student user view -->
<div ng-if="isAuthenticated() && currentUser.teacher === false">
<div class="row mt">

    <div class="col-md-8 st-dash-col">
      <all-writing></all-writing>
    </div><!-- /col-md-8 -->

    <div class="col col-md-4">

      <div class="grey-panel pn">
        <div class="green-header">
          <h4>Positive vs. Negative Tone</h4>
        </div>
        <student-pie-dash></student-pie-dash>
      </div>

      <div class="row mt">

        <div class="col col-md-6">
          <div class="grey-panel pn-ss">
            <div class="green-header">
              <h4>Writing Samples</h4>
            </div>
            <p class="ss-stats-a centered"><i class="fa fa-chevron-circle-right"></i>      {{writings.length}}</p>
          </div>
        </div>

        <div class="col col-md-6">
          <div class="grey-panel pn-ss">
            <div class="green-header">
              <h4>Total Words</h4>
            </div>
            <p class="ss-stats-b centered"><i class="fa fa-trophy"></i>      {{total}}</p>
          </div>
        </div>


      </div>

    </div>
</div>


</div>




<!-- If you can see ONLY this, you are not authenticated! -->
