<!-- <h1 class="text-center">Teacher Login</h1>
<form method="post" ng-submit="teacherlogin()" name="teacherLoginForm" novalidate>
  <div class="form-group">
    <input class="form-control input-lg" type="text" name="email" ng-model="teacherLogin.email" placeholder="Email" required autofocus>
  </div>
  <div class="form-group">
    <input class="form-control input-lg" type="password" name="password" ng-model="teacherLogin.password" placeholder="Password" required>
  </div>
  <button type="submit" class="btn btn-lg btn-block btn-primary">Login</button>
  <br>
</form>
  <button class="btn btn-block btn-success" ng-click="authenticate('google')">Sign in with Google</button>


    <p ng-if="!isAuthenticated()">IS NOT AUTHENTICATED!</p> -->

    <h1 class="text-center">Login</h1>
<form method="post" ng-submit="login()" name="loginForm" novalidate>
  <div class="form-group">
    <input class="form-control input-lg" type="text" name="username" ng-model="login.username" placeholder="First and Last name" required autofocus>
  </div>
  <div class="form-group">
    <input class="form-control input-lg" type="password" name="password" ng-model="login.password" placeholder="Password" required>
  </div>
  <button type="submit" class="btn btn-lg btn-block btn-primary">Login</button>
  <br>
</form>
  <button class="btn btn-block btn-success" ng-click="authenticate('google')">Sign in with Google</button>


    <p ng-if="!isAuthenticated()">IS NOT AUTHENTICATED!</p>



























